<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>K7Ne124GnQ2biJYB9mtL4nZIme2OGElF</string>
	<key>Domain</key>
	<string>dev-8aijxjhd8vd4abr6.us.auth0.com</string>
</dict>
</plist>
